/* 
@media (min-width:320px)  { smartphones, iPhone, portrait 480x320 phones };
@media (min-width:481px)  { portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. }
@media (min-width:641px)  { portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones }
@media (min-width:961px)  { tablet, landscape iPad, lo-res laptops ands desktops }
@media (min-width:1025px) { big landscape tablets, laptops, and desktops }
@media (min-width:1281px) { hi-res laptops and desktops }  */

/* #region for CSS variabele */
:root {
  /* FONT COLOR */
  --white-color: #f5f5f7;
  --soft-ice-gray-color: #d9e1e8;
  --cool-blue-gray-color: #a5b0ba;
  --dim-slate-color: #7c8791;
  --dark-color: #1d1d1f;
  --terminal-color: #00ff00;
  --text-hover-ember: #e0a458;

  /* BACKGROUND COLOR */
  --body-bg-color: #254a66;
  --body-bg-color-alt: #9c9c9c;
  --card-bg-color: #1b2a36;
  --card-bg-hover-color: #223647;

  /* SECTION COLOR */
  --section-bg-color: #2d5878;
  --section-bg-color-alt: #233f55;

  /* NAVIGATION */
  --navigation-section-bg-color: #254a66;
  --navigation-item-color: #f5f5f7;
  --navigation-item-color-alt: #04030f;
  --navigation-item-color-dark: #04030f;

  --navigation-item-hover-color: #ffa500;
  --navigation-item-hover-color-alt: #f4c95d;

  --navigation-icon-hover-color: #ffa500;
  --navigation-icon-hover-color-alt: #f4c95d;

  /* FOOTER color */
  --footer-bg-color: #1b4566;

  /* BTNs */
  --btn-color: #003cb4;
  --btn-color-alt: #854d27;

  --btn-color-alt-light: #f4c95d;

  --btn-hover-color: #1f50b1;
  --btn-hover-color-alt: #e7e393;
  --btn-hover-color-dark: #dd7230;

  --btn-create-color: green;
  --btn-create-hover-color: #009600;
  --btn-update-color: orange;
  --btn-update-hover-color: rgb(212, 148, 28);
  --btn-delete-color: red;
  --btn-delete-hover-color: rgb(209, 65, 65);

  /* LABEL COLOR */
  --label-hover-color: #ffa500;

  /* TRANSITION */
  --transition-medium: all 0.3s ease;

  /* SHADOWS */
  --text-shadow: 0 5px 25px rgb(0, 0, 0);
  --box-shadow: 0 5px 25px rgb(0, 0, 0);
  --no-box-shadow: 0;

  /* BORDERS */
  --border-xs: 1px solid #e7e393;
  --border-xs-alt: 1px solid #f4c95d;
  --border-xs-dark: 1px solid #ffa500;
  --border-small: 2px solid #e7e393;
  --border-small-alt: 2px solid #f4c95d;
  --border-small-dark: 2px solid #dd7230;
  --border-medium: 4px solid #e7e393;
  --border-medium-alt: 4px solid #f4c95d;
  --border-medium-dark: 4px solid #dd7230;

  --border-color: #003cb4;

  /* ACCENTS */
  --teal-glow: #4cc9b0;
  --amber-ember: #e0a458;
  --soft-violet: #a48ce0;
  --hr-line: 1px solid #ffa500;
  --hr-line-alt: 1px solid #162028;
  --hr-line-subtle-outline: 1px solid ##20303c;
  --hr-line-dark: 1px solid #585858;

  /* SCROLLBAR */
  --scroll-bar-color: rgb(88, 88, 88);
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;

}

/* #endregion for CSS Variables */

/* #region for Typogrophy */
/* h1,h2,h3,h4,h5,h6,p{
  
} */

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 18px;
}
a {
  font-size: 16px;
}

@media (min-width: 1800px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  p {
    font-size: 20px;
  }
  a {
    font-size: 20px;
  }
}

* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  font-family: "Cairo Play", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: var(--body-bg-color);
  position: relative;
}
/* #endregion for scrollbar */

/* #region for multiple pages */
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.container_width {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  width: 100%;
  max-width: 2560px;
  position: relative;
}

.main_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 2560px;
  margin: 76px auto 0 auto;
  overflow: hidden;
}

.min_page_heigt {
  min-height: 100vh;
  width: 100%;
}

.hr-dark {
  border: var(--hr-line-dark);
  border-radius: 5px;
  margin: 0 auto;
}

.btn-info {
  font-size: 16px;
  color: var(--white-color);
  align-content: center;
  padding: 8px 16px;
  margin: 8px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  transition: var(--transition-medium);
  background-color: var(--btn-color);
  border-radius: 5px;
}

.btn-info:hover {
  background-color: rgb(0, 100, 180);
}

/* #endregion for multiple pages */

/* #region for header.php */
.header_nav {
  background-color: var(--section-bg-color);
}

@media only screen and (max-width: 600px) {
  .nav_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .hr-yellow {
    display: none !important;
  }

  .left {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .right {
    max-width: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  .nav_top a {
    margin: auto 0;
    text-decoration-line: none;
    color: var(--navigation-item-color);
    font-size: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .mobile-container {
    display: none;
  }

  .nav_top {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 2560px;
    margin: 0 auto;
  }

  .left {
    max-width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    & a {
      font-weight: 900;
    }
  }

  .nav_top a {
    text-decoration-line: none;
    color: var(--navigation-item-color);
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
  }

  .right {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    & ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      & li {
        list-style: none;

        & a {
          transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s;
          &:hover {
            color: var(--navigation-icon-hover-color);
          }
        }
      }
    }
  }
}

.nav_top img {
  mix-blend-mode: screen;
  width: 65px;
  height: 60px;
}

/* #endregion for header.php */

/* #region for nav.php */
@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  nav {
    display: flex;
    width: 100%;
  }
}
/* #endregion for nav.php */

#navbar {
  background-color: var(
    --navigation-section-bg-color
  );
  overflow: hidden;
  padding: 10px 0px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 0px !important;
  }
}

.typewriter {
  display: flex;
  max-width: 100%;
  background-color: var(--section-bg-color);
  border-radius: 10px;
  padding: 25px;
}

.typewriter p {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: var(--terminal-color);
  font-family: monospace;
  font-size: 1.5rem;
  margin-inline: auto;
  overflow: hidden;
  align-items: start;
}

.right_image_holder {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.image_mask {
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 60%;
  border-radius: 0 0 100% 0;
  position: absolute;
  box-shadow: 20px 16px 20px 20px rgba(0, 0, 0, 0.1);
  padding-left: 2.4rem;
  padding-right: 50px;
  overflow: hidden;

  & .mask_text_holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    width: 75%;
    text-shadow: 7px 6px 9px black;

    & .mask_text_title {
      color: var(--white-color);
      font-size: 40px;
    }

    & .mask_text_description {
      color: var(--white-color);
      font-size: 26px;
    }
  }
}

.image_container {
  display: flex;
  max-width: 100%;
  height: 100%;
  width: 100%;

  & img {
    height: auto;
    width: 100%;
  }
}

.skills_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: var(--section-bg-color-alt);
  border-radius: 15px;

  & .skills_holder_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;

    & .skills_title {
      color: var(--white-color);
      text-shadow: var(--text-shadow);
      font-size: 40px;
    }

    & .skills_cards_holder {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      gap: 15px;
      width: 100%;
      height: 100%;
      padding: 15px;

      & li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 200px;
        width: 100%;
        max-height: 200px;
        height: 100%;
        padding: 15px;
        border-radius: 15px;
        background-color: var(--card-bg-color);
        color: var(--white-color);
        box-shadow: var(--box-shadow);
        z-index: 99;

        list-style: none;

        transition: transform 0.2s;

        &:hover {
          transform: scale(1.2);
          background-color: var(--card-bg-hover-color);
          color: var(--text-hover-ember);
          z-index: 100;
        }

        & .skill_name {
          font-weight: 500;
          letter-spacing: 5px;
          font-family: "Jersey 10", "Courier New", Courier, monospace;
          font-size: 30px;
        }

        & img {
          height: auto;
          width: 100%;
          object-fit: contain;
          border-radius: 15px;
        }
      }
    }
  }
}

.text_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white-color);
  background-color: var(--section-bg-color);
  border-radius: 15px;
  padding: 25px;
  gap: 15px;
}

.projects_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: var(--section-bg-color-alt);
  border-radius: 15px;

  & .projects_holder_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;

    & .projects_title {
      color: var(--white-color);
      text-shadow: var(--text-shadow);
      font-size: 40px;
    }

    & .projects_cards_holder {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      gap: 15px;
      width: 100%;
      height: 100%;
      padding: 15px;

      & .project_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 40%;
        width: 100%;
        max-height: 600px;
        height: 100%;
        padding: 15px;
        border-radius: 15px;
        background-color: var(--card-bg-color);
        color: var(--white-color);
        box-shadow: var(--box-shadow);
        z-index: 99;

        list-style: none;

        transition: transform 0.2s;

        &:hover {
          transform: scale(1.01);
          background-color: var(--card-bg-hover-color);
          color: var(--text-hover-ember);
          z-index: 100;

          & .image_description {
            position: absolute;
            bottom: 0;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-height: 50%;
            max-width: 100%;
            height: 25%;
            width: 100%;
            backdrop-filter: blur(20px);
            border-radius: 15px;
            overflow: hidden;
            cursor: default;
          }
        }

        & .project_name {
          font-weight: 500;
          letter-spacing: 5px;
          font-family: "Jersey 10", "Courier New", Courier, monospace;
          font-size: 30px;
        }

        & .project_image {
          display: flex;
          overflow: hidden;
          width: 100%;
          max-width: 100%;
          max-height: 100%;
          height: 100%;
          position: relative;
          cursor: pointer;

          & img {
            height: auto;
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
          }

          & .image_description {
            display: none;
            color: var(--white-color);
            font-weight: 700;
          }

          & .image_link {
            color: var(--white-color);
            transition: var(--transition-medium);

            &:hover {
              color: var(--text-hover-ember);
            }
          }
        }
      }
    }
  }
}

.project_modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  padding: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal_content_holder {
  margin: auto 0;
  display: flex;
  justify-content: center;
  max-width: 1680px;
  max-height: 100%;
  width: 100%;
  height: 100%;
  .modal_content {
    display: flex;
    height: auto;
    width: 100%;
    object-fit: contain;
  }
}

.close_holder {
  position: absolute;
  color: black !important;
  right: 0;
  top: 0;
  margin: 30px;
  padding: 3px 14px;
  background-color: var(--navigation-item-color);
  border-radius: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: var(--transition-medium);

  & .close {
    line-height: 20px;
    font-size: 20px;
  }

  &:hover {
    background-color: var(--navigation-icon-hover-color);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 25px;
  background-color: var(--footer-bg-color);
  border-radius: 25px 25px 0 0;
  border-top: var(--hr-line);

  & .footer_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    & a {
      text-decoration-line: none;
      color: var(--navigation-item-color);
      font-size: 20px;
      text-align: center;
      padding: 10px 0;
      text-decoration: none;
    }
  }
}
